body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-content: center;
}

#main {
  display: flex;
  padding: 5rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  background-image: linear-gradient(
    rgb(0, 132, 255),
    rgb(0, 218, 199),
    rgb(0, 218, 199),
    yellow
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 20px auto;
  margin-bottom: 0;
  justify-self: flex-end;
  width: fit-content;
  height: fit-content;
}

#location {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 0px;
  width: 100%;
}
